@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@theme {
  --font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

* {
  @apply transition-colors duration-200;
}

html {
  scroll-behavior: smooth;
}

::selection {
  @apply bg-blue-100 text-blue-900;
}